// تعريف المتغيرات
$sidebar-width: 250px;
$sidebar-width-mobile: 60px;

.sidebar {
    width: $sidebar-width;
    height: auto;
    background: var(--navbar-background-color);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    @media (max-width: 767px) {
        width: $sidebar-width-mobile;
    }

    .image {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        img {
            width: 60%;
        }
    }

    .links {
        width: 100%;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;

            li {
                width: 100%;
                display: flex;
                align-items: center;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: var(--primary-color);
                    width: $sidebar-width;
                    z-index: 2;
                    position: relative;

                    span {
                        display: block;
                    }
                }

                i {
                    font-size: 20px;
                    margin-right: 10px;
                    color: var(--text-color);
                }

                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: var(--text-color);
                    transition: color 0.3s;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding: 12px 20px;

                    @media (max-width: 767px) {
                        span {
                            display: none;
                        }
                    }
                }
            }

            .active-li {
                background: var(--primary-color);
                border-radius: 4px;

                a,
                i,
                span {
                    color: var(--navbar-background-color) !important;
                }
            }
        }
    }

    .dropdown-menu {
        background-color: var(--navbar-background-color);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        li {
            padding: 10px;
            cursor: pointer;

            .dropdown-item {
                &:hover {
                    background-color: var(--btn-primary-color-hover);
                    color: var(--navbar-background-color);
                    border-radius: 30px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .dropdown-toggle::after {
        display: none !important;
    }
}

.dark {
    background-color: var(--dark-color);
    position: relative;

    .links {
        ul {
            li {

                i,
                span {
                    color: var(--navbar-background-color);
                }
            }
        }
    }
}

html[dir="rtl"] {
    .sidebar {
        text-align: right;

        span {
            margin-right: 0.5rem;
            margin-left: 0;
        }

        .links {
            ul {
                li {
                    a {
                        padding: 13px 10px;
                    }
                }
            }
        }
    }
}