.users-accounts {
    // Light mode (default)
    background-color: #c4c0c0;
    color: #000;

    .MuiPaper-root {
        background-color: #f8f9fa;
        color: #000;
    }

    .MuiTypography-root {
        color: #14737b;
        font-weight: 600;
        font-size: 30px
    }

    .MuiTableCell-root,
    .MuiInputBase-input {
        color: #000;
    }

    .MuiInputBase-root {
        background-color: #fff;
        color: #000;
    }

    .MuiCheckbox-root,
    .MuiSvgIcon-root {
        color: #000;
    }

    .MuiTableSortLabel-root.Mui-active {
        color: #1976d2;
    }

    // Dark mode override
    &.dark {
        background-color: #121212;
        color: #fff;

        .MuiPaper-root {
            background-color: #1e1e1e;
            color: #fff;
        }

        .MuiTableCell-root,
        .MuiTypography-root,
        .MuiInputBase-input {
            color: #fff;
        }

        .MuiInputBase-root {
            background-color: #2c2c2c;
            color: #fff;
        }

        .MuiCheckbox-root,
        .MuiSvgIcon-root {
            color: #fff;
        }

        .MuiTableSortLabel-root.Mui-active {
            color: #90caf9;
        }

        .MuiToolbar-root {
            color: #fff;
        }
    }
}

@media(max-width: 767px) {
    .css-1ygil4i-MuiToolbar-root {
        flex-direction: column;
    }
}

@media (max-width:1147px) {
    .main-content {
        width: 50%;
    }
}