.dashboard {
    padding: 20px;
    background: #f8f9fa;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    .stats {
        display: flex;
        gap: 15px;
        margin-bottom: 20px;

        .stat-card {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            flex: 1;
            text-align: center;

            h4 {
                font-size: 16px;
                color: #666;
            }

            p {
                font-size: 24px;
                font-weight: bold;
                margin: 5px 0;
            }

            .increase {
                color: green;
                font-size: 14px;
            }

            .decrease {
                color: red;
                font-size: 14px;
            }
        }
    }

    .charts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;
        flex-grow: 1;

        .chart-card {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

            h4 {
                font-size: 16px;
                color: #333;
                margin-bottom: 10px;
            }
        }
    }

    @media (max-width: 768px) {
        .stats {
            flex-direction: column;
        }

        .charts {
            grid-template-columns: 1fr;
        }
    }
}

.dashboard {
    height: auto;

    .charts {
        .chart-card {
            position: relative;

            .legend {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-top: 10px;



                .legend-item {
                    display: flex;
                    align-items: center;
                    margin-right: 15px;
                    font-size: 14px;
                }

                span {
                    width: 12px;
                    height: 12px;
                    display: inline-block;
                    border-radius: 50%;
                    margin-right: 5px;
                }
            }
        }
    }
}

@media (max-width:767px) {
    .recharts-cartesian-axis-ticks {
        display: none;
    }
}