.request-details-container {

    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background: #f7f8fa;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 904px) {
        padding: 10px;
    }

    &.dr {
        font-size: 1rem;
        background: #1c1c1c;

        .carousel {
            background-color: #1c1c1c;
        }


        h3,
        h4 {
            color: #f1f1f1;
        }

        .details-grid {
            background: #2c2c2c;
            box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.05);
            color: #eee;
        }

        .details-section {
            p {
                color: var(--disabled-color);
            }

            button {
                color: var(--navbar-background-color);
            }
        }

        .card {
            background-color: var(--profile-card-background-colo-dark);
            border: 1px solid var(--card-btn-border-color);

            &.border-success {
                border-color: var(--green-color);
            }

            img {
                opacity: 0.95;
            }

            .card-body {
                color: #eee;

                .btn {
                    background-color: var(--card-btn-border-color);
                    color: var(--navbar-background-color);

                    &.btn-outline-success {
                        border-color: var(--green-color);
                        color: var(--green-color);

                        &:hover {
                            background-color: var(--green-color);
                            color: var(--navbar-background-color);
                        }
                    }

                    &.btn-danger {
                        background-color: var(--red-color);

                        &:hover {
                            background-color: var(--red-color-hover);
                        }
                    }
                }
            }
        }

        .MuiButtonBase-root.MuiIconButton-root {
            background-color: rgba(255, 255, 255, 0.1) !important;
            color: var(--navbar-background-color) !important;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2) !important;
            }
        }
    }
}

.details-grid {
    display: flex;
    flex-wrap: wrap;
    background: var(--navbar-background-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;

    &.border-success {
        border: 2px solid var(--green-color);
    }
}

.carousel-section {
    flex: 1;
    background: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;

    .CarouselItem {
        width: 100%;
        height: 100vh;
    }

    .carousel-image {
        width: inherit;
        height: inherit;
        object-fit: fill;
        border-radius: 8px;

        @media (max-width: 904px) {
            max-height: 50vh;
        }
    }
}

.MuiButtonBase-root.MuiIconButton-root {
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: var(--white-color) !important;
    z-index: 2;

    &:hover {
        background-color: rgba(0, 0, 0, 0.6) !important;
    }
}

.details-section {
    flex: 1;
    padding: 2rem;

    ul {
        padding-left: 0;

        li {
            margin-bottom: 0.5rem;
        }
    }

    p {
        font-size: 0.875rem;
        color: #6c757d;
    }

    button {
        margin-top: 1rem;
    }
}

.card {
    transition: 0.3s ease-in-out;

    &.border-success {
        border: 2px solid var(--green-color);
    }

    &:hover {
        transform: scale(1.01);
    }

    img {
        max-height: 250px;
        object-fit: fill;
    }

    .card-body {
        padding: 1rem;

        h6 {
            font-size: 17px;
        }

        .btn {
            font-size: 0.875rem;
            height: 40px;
        }
    }
}

.section-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h3,
h4 {
    font-weight: bold;
}

button {

    &.btn-outline-success,
    &.btn-danger,
    &.btn-success,
    &.btn-outline-secondary {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .details-section {
        padding: 1rem;
    }
}

.home-icon {
    width: 25px;
    height: 25px;

}