.invalid-role-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-light);

    .content {
        background: var(--white-color);
        padding: 40px;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        text-align: center;

        h2 {
            color: #e74c3c;
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 25px;
            color: #555;
        }

        button {
            background-color: #e74c3c;
            color: var(--white-color);
            border: none;
            padding: 10px 20px;
            border-radius: 6px;
            cursor: pointer;

            &:hover {
                background-color: #c0392b;
            }
        }
    }
}