@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #18878b;
    --primary-color2: #14737b;
    --secondary-color: #fdcb54;
    --page-background-color: #f1f5f9;
    --profile-card-background-colo-dark: #2c2c2c;
    --card-btn-border-color: #444;
    --complete-profile-details-background-color: #1a1a1a;
    --forget-password-box-shadow-color-3: rgba(20, 115, 123, 0.3);
    --disabled-color: #ccc;
    --btn-primary-color-hover: #2a7376;
    --text-color: #333;
    --white-color: white;
    --navbar-background-color: #fff;
    --green-color: #28a745;
    --red-color: #d9534f;
    --red-color-hover: #c9302c;
    --dark-color: #000;
    --bg-light: #f8f9fa;
    --bg-dark: #121212;
    --text-dark: #e0e0e0;
    --subtext-light: #666;
    --subtext-dark: #b0b0b0;
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-dark: rgba(255, 255, 255, 0.1);
    --admin-incomplete-users-color: #eee;
    --blue-color: #0dcaf0;
    --blue-color-hover: #0bb8dc;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    // font-family: "Oswald", sans-serif;
}

a {
    text-decoration: none;
}

.page {
    background-color: var(--page-background-color);
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--btn-primary-color-hover);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}


.app-container {
    display: flex;
    min-height: 100vh;

    .sidebar {
        width: 250px;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        flex-shrink: 0;
        min-height: 100vh;


        @media (max-width:767px) {
            & {
                width: 60px;
            }
        }
    }

    .main-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .navbar {
        height: 60px;
    }

    .content {
        flex-grow: 1;
        padding: 20px;
    }
}



// html[dir="rtl"] {
//     .app-container {
//         direction: rtl;
//         text-align: right;
//     }

//     .sidebar {
//         border-left: none;
//         border-right: 1px solid #ccc;
//     }

//     .main-content {
//         padding-left: 0;
//     }

//     .content {
//         text-align: right;
//     }

//     .navbar .me-2 {
//         margin-left: 0 !important;
//         margin-right: 0.5rem !important;
//     }

//     // أي كلاس فيه .ms-* أو .me-* بدّلها 
// }