.AdminDashboard.dr {
    font-size: 1rem;
}

.wh,
.dr {
    padding: 4px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    height: auto;

    &.wh {
        background: var(--bg-light);
        color: var(--text-color);
    }

    &.dr {
        background: var(--complete-profile-details-background-color);
        color: var(--text-dark);
    }

    .stats {
        display: flex;
        gap: 15px;
        margin-bottom: 20px;
        flex-direction: row;

        .stat-card {
            background: var(--white-color);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px var(--shadow-light);
            flex: 1;
            text-align: center;

            h4 {
                font-size: 16px;
                color: var(--subtext-light);
            }

            p {
                font-size: 24px;
                font-weight: bold;
                margin: 5px 0;
            }

            .increase {
                color: var(--green-color);
                font-size: 14px;
            }

            .decrease {
                color: var(--red-color);
                font-size: 14px;
            }
        }
    }

    .charts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;
        flex-grow: 1;

        .chart-card {
            background: var(--white-color);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px var(--shadow-light);
            position: relative;

            h4 {
                font-size: 16px;
                color: var(--text-color);
                margin-bottom: 10px;
            }

            .legend {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-top: 10px;

                .legend-item {
                    display: flex;
                    align-items: center;
                    margin-right: 15px;
                    font-size: 14px;

                    span {
                        width: 12px;
                        height: 12px;
                        display: inline-block;
                        border-radius: 50%;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .stats {
            flex-direction: column;
        }

        .charts {
            grid-template-columns: 1fr;
        }
    }
}

.dr {
    .stats .stat-card {
        background: var(--complete-profile-details-background-color);
        box-shadow: 0 2px 10px var(--shadow-dark);

        h4 {
            color: var(--subtext-dark);
        }

        p {
            color: var(--navbar-background-color);
        }
    }

    .charts .chart-card {
        background: var(--complete-profile-details-background-color);
        box-shadow: 0 2px 10px var(--shadow-dark);

        h4 {
            color: var(--text-dark);
        }
    }
}

@media (max-width: 767px) {
    .recharts-cartesian-axis-ticks {
        display: none;
    }
}

html[dir="rtl"] {
    .chart-card {
        direction: ltr;
    }

    .stats .stat-card {
        direction: ltr;
    }
}